n8n/workflows/content-writer-agent.json
{
  "name": "Cipher Studio — Content Writer Agent",
  "nodes": [
    {
      "id": "cwa-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "webhookId": "cipher-content-writer",
      "parameters": {
        "httpMethod": "POST",
        "path": "content-writer",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "cwa-fetch-spec",
      "name": "Fetch Product Spec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_PUBLISHABLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_PUBLISHABLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.body.product_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cwa-build-request",
      "name": "Build Claude Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const productId = $('Webhook Trigger').first().json.body.product_id;\nconst specRaw = $json;\nconst product = Array.isArray(specRaw) ? (specRaw[0] || {}) : specRaw;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 16000,\n  system: \"You are the Content Writer Agent for Cipher Studio, a digital products business selling to freelancers and small business owners.\\n\\nYou receive a product spec with a chapter outline and your job is to write the COMPLETE manuscript in Markdown format.\\n\\nWRITING STYLE:\\n- Direct, confident, no-fluff tone. Write like a smart friend who has done this before and is showing you exactly how.\\n- Use \\\"you\\\" throughout. Never use \\\"one\\\" or passive voice.\\n- Every paragraph must either teach something, provide an action step, or illustrate with a concrete example. Delete anything that is just filler.\\n- Short paragraphs (3-4 sentences max). Short sentences when making a key point.\\n- Bold key terms the first time they appear: **term**.\\n- Use specific numbers, tool names, and real examples. Never say \\\"various tools\\\" or \\\"many options\\\" \\u2014 name them.\\n\\nSTRUCTURE RULES:\\n- Start each chapter with a 1-2 sentence hook that states what the reader will be able to DO after reading it.\\n- Use ## for chapter titles, ### for section headings within chapters.\\n- Use > blockquotes for key insights or important callouts (the designer agent will convert these to branded callout boxes).\\n- Use - [ ] checkbox syntax for action items (the designer agent will convert these to branded checklist pages).\\n- Use | markdown tables | for any comparisons or data (the designer agent will convert these to branded tables).\\n- End each chapter with a 1-sentence transition that pulls into the next chapter.\\n- Include at least one checklist per chapter (practical action steps).\\n- Include at least one data table or comparison per ebook.\\n\\nCONTENT QUALITY:\\n- Every fact, statistic, and tool recommendation must be real and current (2025-2026).\\n- If you are uncertain about a specific number or claim, say so explicitly with [VERIFY: claim] so the QA agent can check it.\\n- Do not pad word count. A tight 8,000-word ebook beats a bloated 15,000-word one.\\n- Target word count is specified in the spec. Stay within 15% of it.\\n\\nOUTPUT:\\nReturn ONLY the Markdown manuscript. Start with the first chapter heading (##).\\nDo not include a title page or table of contents \\u2014 the designer agent handles those.\\nDo not wrap in code fences. Just raw Markdown.\",\n  messages: [{\n    role: 'user',\n    content: 'Write the complete manuscript for this ebook:\\n\\n' + JSON.stringify(product, null, 2)\n  }]\n});\n\nreturn [{ json: { requestBody, productId } }];"
      }
    },
    {
      "id": "cwa-claude",
      "name": "Claude Sonnet — Write Manuscript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "cwa-parse",
      "name": "Parse Manuscript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = ($json.content || []).find(b => b.type === 'text')?.text || '';\n\nconst clean = raw.trim().startsWith('```')\n  ? raw.trim().replace(/^```[a-z]*\\n?/, '').replace(/\\n?```$/, '').trim()\n  : raw.trim();\n\nif (!clean || clean.length < 100) {\n  throw new Error('Claude returned an unexpectedly short manuscript. Got: ' + clean.slice(0, 200));\n}\n\nconst wordCount = clean.split(/\\s+/).filter(w => w.length > 0).length;\nconst productId = $('Webhook Trigger').first().json.body.product_id;\n\nreturn [{ json: { manuscript: clean, wordCount, productId } }];"
      }
    },
    {
      "id": "cwa-save-manuscript",
      "name": "Save Manuscript to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        400
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ $vars.SUPABASE_URL + '/storage/v1/object/templates/ebooks/' + $json.productId + '/manuscript.md' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "text/markdown"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.manuscript }}",
        "options": {}
      }
    },
    {
      "id": "cwa-update-status",
      "name": "Update Product Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        400
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL + '/rest/v1/products?id=eq.' + $('Parse Manuscript').item.json.productId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ status: 'manuscript_complete', manuscript_url: $vars.SUPABASE_URL + '/storage/v1/object/public/templates/ebooks/' + $('Parse Manuscript').item.json.productId + '/manuscript.md', manuscript_word_count: $('Parse Manuscript').item.json.wordCount }) }}",
        "options": {}
      }
    },
    {
      "id": "cwa-trigger-designer",
      "name": "Trigger Ebook Designer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_BASE_URL }}/webhook/ebook-design",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ product_id: $('Parse Manuscript').item.json.productId, manuscript_markdown: $('Parse Manuscript').item.json.manuscript }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 180000
        }
      }
    },
    {
      "id": "cwa-build-email",
      "name": "Build Notification Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const productId = $('Parse Manuscript').item.json.productId;\nconst wordCount = $('Parse Manuscript').item.json.wordCount;\nconst specRaw = $('Fetch Product Spec').all()[0]?.json || [];\nconst product = Array.isArray(specRaw) ? (specRaw[0] || {}) : specRaw;\n\nconst title       = product.name || product.title || 'Ebook';\nconst description = product.description || '';\nconst spec        = product.spec || {};\nconst chapterCount = spec.chapters\n  ? spec.chapters.length\n  : (spec.ebook && spec.ebook.chapters ? spec.ebook.chapters.length : 0);\n\nconst dateStr = new Date().toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nconst html = '<!DOCTYPE html><html><body style=\"font-family:sans-serif;background:#0A0A0A;color:#fff;margin:0;padding:0\">'\n  + '<div style=\"max-width:640px;margin:0 auto;padding:32px 24px\">'\n  + '<p style=\"color:#C8F53A;font-size:12px;letter-spacing:2px;margin:0 0 8px\">CIPHER STUDIO</p>'\n  + '<h1 style=\"font-size:32px;color:#fff;margin:0 0 4px\">Manuscript Complete</h1>'\n  + '<p style=\"color:#666;margin:0 0 32px;font-size:14px\">' + dateStr + '</p>'\n  + '<div style=\"background:#111;border:1px solid #222;border-radius:8px;padding:24px;margin-bottom:24px\">'\n  + '<p style=\"color:#C8F53A;font-size:11px;letter-spacing:1px;margin:0 0 8px\">EBOOK MANUSCRIPT</p>'\n  + '<h2 style=\"margin:0 0 12px;font-size:22px\">' + title + '</h2>'\n  + (description ? '<p style=\"color:#aaa;margin:0 0 16px;line-height:1.6\">' + description + '</p>' : '')\n  + '<p style=\"margin:0\"><strong style=\"color:#C8F53A\">' + Number(wordCount).toLocaleString() + ' words</strong>'\n  + (chapterCount ? ' &nbsp;&middot;&nbsp; ' + chapterCount + ' chapters' : '')\n  + '</p>'\n  + '</div>'\n  + '<div style=\"background:#111;border:1px solid #C8F53A;border-radius:8px;padding:20px;margin-bottom:24px\">'\n  + '<p style=\"color:#C8F53A;font-size:11px;letter-spacing:1px;margin:0 0 8px\">PIPELINE STATUS</p>'\n  + '<p style=\"color:#aaa;font-family:sans-serif;margin:0;line-height:1.6\">The Ebook Designer Agent has been triggered and will produce the formatted PDF next. You\\'ll receive another email when the PDF is ready.</p>'\n  + '</div>'\n  + '<p style=\"color:#444;font-size:12px;text-align:center\">Supabase products table &nbsp;&middot;&nbsp; cipherstudio.co</p>'\n  + '</div></body></html>';\n\nreturn [{ json: {\n  subject: 'Manuscript Written: ' + title + ' (' + Number(wordCount).toLocaleString() + ' words)',\n  html\n} }];"
      }
    },
    {
      "id": "cwa-gmail",
      "name": "Gmail — Notify Manuscript Complete",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2240,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2 — Cipher Studio"
        }
      },
      "parameters": {
        "sendTo": "hello@cipherstudio.co",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Product Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Spec": {
      "main": [
        [
          {
            "node": "Build Claude Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request Body": {
      "main": [
        [
          {
            "node": "Claude Sonnet — Write Manuscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet — Write Manuscript": {
      "main": [
        [
          {
            "node": "Parse Manuscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Manuscript": {
      "main": [
        [
          {
            "node": "Save Manuscript to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Manuscript to Supabase Storage": {
      "main": [
        [
          {
            "node": "Update Product Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Status": {
      "main": [
        [
          {
            "node": "Trigger Ebook Designer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Ebook Designer": {
      "main": [
        [
          {
            "node": "Build Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Email": {
      "main": [
        [
          {
            "node": "Gmail — Notify Manuscript Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "versionId": "1",
  "id": "cipher-content-writer-agent-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "cipher-studio"
    }
  ]
}