n8n/workflows/ebook-designer-agent.json
{
  "name": "Cipher Studio — Ebook Designer Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ebook-design",
        "options": {}
      },
      "id": "b246f265-73c6-4fcc-8c26-646afb973a45",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2208,
        688
      ],
      "webhookId": "cipher-ebook-design"
    },
    {
      "parameters": {
        "url": "=https://illcsxpidmluhdwgygwf.supabase.co/storage/v1/object/public/templates/cipher-ebook-v1.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "2aad29b7-ff75-4f39-842b-82233c0c317a",
      "name": "Fetch Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        560
      ]
    },
    {
      "parameters": {
        "url": "=https://illcsxpidmluhdwgygwf.supabase.co/rest/v1/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.body.product_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_publishable_ZoIwHQvMJYS_l5HWcL64sQ_rWLUTTjS"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + 'sb_publishable_ZoIwHQvMJYS_l5HWcL64sQ_rWLUTTjS' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "498fc292-14cf-4c9c-bfda-44889d16be04",
      "name": "Fetch Product Spec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        800
      ]
    },
    {
      "parameters": {},
      "id": "ee2183cd-fc91-4930-8a16-e718237df7a9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2688,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const productId = $('Webhook Trigger').first().json.body.product_id;\\nconst manuscript = $('Webhook Trigger').first().json.body.manuscript_markdown || '';\\n\n// Template HTML\nconst tplItem = $('Fetch Template').first();\nconst templateHtml = tplItem.json.data || tplItem.json.body || '';\n\n// Product spec\nconst specItems = $('Fetch Product Spec').all();\nconst specRaw = specItems.length > 0 ? specItems[0].json : [];\nconst productSpec = Array.isArray(specRaw) ? (specRaw[0] || {}) : specRaw;\n\n// Slug for file naming\nconst productName = productSpec.name || productSpec.title || 'ebook';\nconst productSlug = productName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 32000,\n  system: \"You are the Ebook Designer Agent for Cipher Studio. You receive a raw Markdown manuscript and an HTML ebook template. Your job is to assemble a complete, publication-ready HTML ebook by injecting the manuscript content into the template.\\n\\nTEMPLATE PAGE TYPES (use the appropriate type for each section):\\n\\n1. COVER PAGE (class=\\\"page cover\\\") \\u2014 Always page 1. Fill in: title, subtitle, description.\\n2. TABLE OF CONTENTS (class=\\\"page toc\\\") \\u2014 Always page 2. Generate from chapter list.\\n3. CHAPTER TITLE PAGE (class=\\\"page chapter-title-page\\\") \\u2014 Use before each chapter. Fill in: chapter number (large lime number), title, description.\\n4. BODY CONTENT PAGE (class=\\\"page body-page\\\") \\u2014 For regular text. Includes:\\n   - Section headings in body-section-title (Bebas Neue, 22pt)\\n   - Body paragraphs in body-text (Space Grotesk, 10pt, #333)\\n   - Callout boxes (div.callout) for key insights \\u2014 dark bg, lime left border\\n   - Subheadings in body-subhead\\n5. CHECKLIST PAGE (class=\\\"page action-page\\\") \\u2014 For actionable steps. Includes:\\n   - Checkbox items with lime borders\\n   - Pro tip box (lime background, black text)\\n6. DATA & CHARTS PAGE (class=\\\"page data-page\\\") \\u2014 For comparisons, statistics. Includes:\\n   - Stat cards (div.stat-row > div.stat-card) \\u2014 dark bg, lime numbers\\n   - Bar charts (div.bar-chart) \\u2014 lime and obsidian fills\\n   - Tables (table.cipher-table) \\u2014 black header, lime text, status tags\\n7. FEATURE PAGE (class=\\\"page feature-page\\\") \\u2014 For feature comparisons and visual layouts. Includes:\\n   - 2x2 feature card grid (div.feature-grid) for comparing tools or features\\n   - Side-by-side text layout (div.split-row) for before/after or two-column content\\n   - NO image placeholders \\u2014 use text-based content only\\n8. BACK COVER (class=\\\"page back-cover\\\") \\u2014 Always the last page.\\n\\nBRAND RULES (NEVER DEVIATE):\\n- Primary: #C8F53A (Cipher Lime) \\u2014 accents, highlights, chapter numbers\\n- Dark background: #0A0A0A \\u2014 cover, chapter title pages, back cover\\n- Surface: #1C1C1C \\u2014 callout boxes, stat cards, dark feature cards\\n- Light background: #F5F5F0 or #FFFFFF \\u2014 body pages\\n- Display font: Bebas Neue \\u2014 titles, section headings, chapter numbers\\n- Body font: Space Grotesk \\u2014 body text, labels, captions, tables\\n- Every body/action/data/feature page has footer: \\\"Cipher Studio\\\" left, page number right\\n- Every body/action/data/feature page has header: chapter label left, ebook title right\\n- Max ~350 words per page. Split to new body page if content overflows.\\n\\nIMAGE HANDLING: Do NOT include any <img> tags or image references in the output. We do not have image generation capability yet. Instead of image placeholders:\\n- For diagrams or charts: describe the concept in a callout box\\n- For screenshots: describe what the user would see in a callout box\\n- For feature comparisons: use the feature card grid (div.feature-grid)\\n- For data: use stat cards or tables\\n- NEVER output <img>, <image>, or any broken image placeholder divs with crosshatch patterns. Remove all div.image-placeholder and div.split-image elements. Only use text-based page components.\\n\\nMARKDOWN CONVERSION RULES:\\n- ## headings \\u2192 body-section-title\\n- ### headings \\u2192 body-subhead\\n- > blockquotes \\u2192 callout boxes (div.callout)\\n- - [ ] checklists \\u2192 action page with checkbox items\\n- | tables | \\u2192 cipher-table\\n- **bold** \\u2192 <strong>\\n- Numbers/statistics mentioned \\u2192 consider stat cards\\n- Tool/feature comparisons \\u2192 consider feature card grid or table\\n\\nLENGTH REQUIREMENTS:\\n- ABSOLUTE MINIMUM 30 pages for any ebook. No exceptions. This is a paid product \\u2014 it must feel substantial and worth the price.\\n- Page breakdown for a 30-page ebook: 1 cover + 1 TOC + 5-7 chapter title pages + 15-18 body content pages + 5-7 action/checklist pages + 1 back cover.\\n- Each chapter from the manuscript MUST have its own chapter title page (black background, large lime chapter number) followed by 3-5 body content pages.\\n- Body content pages should contain approximately 250-350 words each. Do NOT cram an entire chapter onto one page. Spread content across multiple pages with generous spacing.\\n- EVERY chapter must end with an action/checklist page with specific, actionable steps the reader can immediately execute.\\n- Include at least 2 data/comparison pages per ebook using stat cards and branded tables.\\n- Include at least 1 callout box per body content page (key insight, pro tip, or important quote).\\n- The manuscript provided may be short for testing purposes. If so, EXPAND the content significantly with: practical real-world examples, detailed step-by-step walkthroughs, pro tips in callout boxes, comparison tables, checklists, and additional context. The final ebook must feel like a comprehensive, professional guide worth $10-15.\\n\\nPAGE DISTRIBUTION GUIDE:\\n- 2-chapter ebook: minimum 30 pages (expand each chapter to 12-14 content pages)\\n- 4-chapter ebook: minimum 35-40 pages\\n- 6-chapter ebook: minimum 45-55 pages\\n- 7-chapter ebook: minimum 50-60 pages\\n\\nIf the manuscript is shorter than what is needed to fill these pages, you MUST add content: more examples, more step-by-step detail, more checklists, more pro tips, more comparison tables, more callout boxes. Never deliver fewer than 30 pages. The goal is a professional, thorough product that a buyer would recommend to a friend.\\n\\nOUTPUT: Return ONLY the complete HTML document. Include all CSS in a <style> tag.\\nInclude the Google Fonts @import for Bebas Neue and Space Grotesk.\\nEach page wrapped in <div class=\\\"page [type-class]\\\">.\\nUse @page { size: 8.5in 11in; margin: 0; } for print sizing.\",\n  messages: [{\n    role: 'user',\n    content: 'PRODUCT SPEC:\\n' + JSON.stringify(productSpec, null, 2)\n      + '\\n\\nMANUSCRIPT:\\n' + manuscript\n      + '\\n\\nTEMPLATE:\\n' + templateHtml\n      + '\\n\\nAssemble the complete ebook HTML now.'\n  }]\n});\n\nreturn [{ json: { requestBody, productId, productSlug } }];"
      },
      "id": "0efbc631-6a73-4837-a08d-6a371d4a0fb9",
      "name": "Build Claude Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "13c81767-459f-4394-afd7-cf87bd9595f2",
      "name": "Claude Sonnet — Assemble Ebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.content || []).find(b => b.type === 'text')?.text || '';\n\nconst clean = raw.trim().startsWith('```')\n  ? raw.trim().replace(/^```[a-z]*\\n?/, '').replace(/\\n?```$/, '').trim()\n  : raw.trim();\n\nconst productId   = $('Webhook Trigger').first().json.body.product_id;\nconst productSlug = $('Build Claude Request Body').first().json.productSlug;\n\nreturn [{ json: { html: clean, productId, productSlug } }];"
      },
      "id": "75bb5055-2175-43dc-a2f7-f159d5b4b7cb",
      "name": "Parse HTML Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        688
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://illcsxpidmluhdwgygwf.supabase.co/storage/v1/object/templates/ebooks/{{ $json.productId }}/{{ $json.productSlug }}.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_WTHbZS4p5YDvbXyRwcW0rA_Kyk5Am_9"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + 'sb_secret_WTHbZS4p5YDvbXyRwcW0rA_Kyk5Am_9' }}"
            },
            {
              "name": "Content-Type",
              "value": "text/html"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "={{ $json.html }}",
        "options": {}
      },
      "id": "54020a51-c2e3-4323-9076-773507bd3988",
      "name": "Save HTML to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ebook-pdf-service-production.up.railway.app/convert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ html: $('Parse HTML Output').item.json.html }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          },
          "timeout": 60000
        }
      },
      "id": "163c0af9-2bf8-42ae-87f3-05b6833318fa",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        688
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://illcsxpidmluhdwgygwf.supabase.co' + '/storage/v1/object/templates/ebooks/' + $('Parse HTML Output').item.json.productId + '/' + $('Parse HTML Output').item.json.productSlug + '.pdf' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_WTHbZS4p5YDvbXyRwcW0rA_Kyk5Am_9"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + 'sb_secret_WTHbZS4p5YDvbXyRwcW0rA_Kyk5Am_9' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "pdfData",
        "options": {}
      },
      "id": "d433cfb5-6cf7-4b77-a035-324b6916a5e6",
      "name": "Save PDF to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        688
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{'https://illcsxpidmluhdwgygwf.supabase.co' + '/rest/v1/products?id=eq.' + $('Parse HTML Output').item.json.productId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=sb_secret_WTHbZS4p5YDvbXyRwcW0rA_Kyk5Am_9"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + 'sb_secret_WTHbZS4p5YDvbXyRwcW0rA_Kyk5Am_9' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ status: 'designed', ebook_html_url: 'https://illcsxpidmluhdwgygwf.supabase.co/storage/v1/object/public/templates/ebooks/' + $('Parse HTML Output').item.json.productId + '/' + $('Parse HTML Output').item.json.productSlug + '.html', ebook_pdf_url: 'https://illcsxpidmluhdwgygwf.supabase.co/storage/v1/object/public/templates/ebooks/' + $('Parse HTML Output').item.json.productId + '/' + $('Parse HTML Output').item.json.productSlug + '.pdf' }) }}",
        "options": {}
      },
      "id": "822433a8-94cf-454e-b8ac-a8d623a60514",
      "name": "Update Product Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const productId   = $('Parse HTML Output').item.json.productId;\nconst productSlug = $('Parse HTML Output').item.json.productSlug;\n\nconst specItems = $('Fetch Product Spec').all();\nconst specRaw = specItems.length > 0 ? specItems[0].json : [];\nconst product = Array.isArray(specRaw) ? (specRaw[0] || {}) : specRaw;\n\nconst title = product.name || product.title || 'Ebook';\nconst productType = (product.type || '').replace(/_/g, ' ');\n\nconst supabaseUrl = 'https://illcsxpidmluhdwgygwf.supabase.co';\nconst pdfUrl  = supabaseUrl + '/storage/v1/object/public/templates/ebooks/' + productId + '/' + productSlug + '.pdf';\nconst htmlUrl = supabaseUrl + '/storage/v1/object/public/templates/ebooks/' + productId + '/' + productSlug + '.html';\n\nconst html = '<div style=\\\"max-width:600px;margin:0 auto;font-family:Arial,sans-serif;color:#333;\\\">'\n  + '<div style=\\\"background:#0A0A0A;padding:24px;text-align:center;\\\">'\n  + '<span style=\\\"color:#C8F53A;font-size:18px;letter-spacing:3px;font-weight:bold;\\\">CIPHER STUDIO</span>'\n  + '</div>'\n  + '<div style=\\\"padding:24px;\\\">'\n  + '<h2 style=\\\"margin:0 0 8px;font-size:20px;color:#0A0A0A;\\\">' + title + '</h2>'\n  + '<p style=\\\"color:#666;margin:0 0 20px;font-size:14px;\\\">Your ebook has been designed and is ready for review.</p>'\n  + '<table style=\\\"width:100%;margin:0 0 20px;\\\">'\n  + '<tr><td style=\\\"padding:8px 0;font-size:14px;color:#888;\\\">Type</td><td style=\\\"padding:8px 0;font-size:14px;color:#333;\\\">' + productType + '</td></tr>'\n  + '<tr><td style=\\\"padding:8px 0;font-size:14px;color:#888;\\\">Status</td><td style=\\\"padding:8px 0;font-size:14px;color:#333;\\\">Ready for review</td></tr>'\n  + '</table>'\n  + '<a href=\\\"' + pdfUrl + '\\\" style=\\\"display:block;background:#C8F53A;color:#0A0A0A;text-align:center;padding:14px;font-size:14px;font-weight:bold;text-decoration:none;border-radius:4px;margin:0 0 12px;\\\">Download PDF</a>'\n  + '<a href=\\\"' + htmlUrl + '\\\" style=\\\"display:block;background:#1C1C1C;color:#C8F53A;text-align:center;padding:14px;font-size:14px;font-weight:bold;text-decoration:none;border-radius:4px;\\\">Preview HTML</a>'\n  + '</div>'\n  + '<div style=\\\"padding:16px 24px;border-top:1px solid #eee;text-align:center;\\\">'\n  + '<span style=\\\"font-size:11px;color:#aaa;\\\">Cipher Studio LLC \\u00b7 Automated notification</span>'\n  + '</div>'\n  + '</div>';\n\nreturn [{ json: {\n  subject: 'Ebook Ready: ' + title,\n  html,\n  pdfUrl,\n  htmlUrl,\n  productId\n} }];"
      },
      "id": "2a130aef-0149-4ceb-9b70-57a3e90187f7",
      "name": "Build Notification Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        688
      ]
    },
    {
      "parameters": {
        "sendTo": "hello@cipherstudio.co",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "77cc5c9a-cc28-4a2f-9c3b-75aa621fb5f6",
      "name": "Gmail — Notify Design Complete",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4672,
        688
      ],
      "webhookId": "8b958943-7e5f-4a80-a82a-383e4b08fb47",
      "credentials": {
        "gmailOAuth2": {
          "id": "IUTmeSTPsDLh4Rqw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Product Spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Spec": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Claude Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request Body": {
      "main": [
        [
          {
            "node": "Claude Sonnet — Assemble Ebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet — Assemble Ebook": {
      "main": [
        [
          {
            "node": "Parse HTML Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTML Output": {
      "main": [
        [
          {
            "node": "Save HTML to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save HTML to Supabase Storage": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Save PDF to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF to Supabase Storage": {
      "main": [
        [
          {
            "node": "Update Product Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Record": {
      "main": [
        [
          {
            "node": "Build Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Email": {
      "main": [
        [
          {
            "node": "Gmail — Notify Design Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "91eaf7e8-0abf-4f71-b3e2-c8dd301a5a44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80105f80c241507e3d9c0a43e3ac2dc1b8c68075e3efc228c24318a6ccccd3c2"
  },
  "id": "0XCvmiRHbBVG5eE3",
  "tags": [
    {
      "updatedAt": "2026-04-03T18:34:41.682Z",
      "createdAt": "2026-04-03T18:34:41.682Z",
      "id": "Rs18Am3cxmaYYnV3",
      "name": "cipher-studio"
    }
  ]
}